<section id="contact">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <div class="contact-info">
            <div class="contact-item">
                <h3>📍 Address</h3>
                <p>
                    연세대학교 의과대학<br>
                    서울특별시 서대문구 연세로 50-1<br>
                    에비슨의생명연구센터 507호 <br>
                </p>
            </div>
            <div class="contact-item">
                <h3>📧 Email</h3>
                <p><a href="mailto:bhwang@yuhs.ac">bhwang@yuhs.ac</a></p>
            </div>
            <div class="contact-item">
                <h3>📞 Phone</h3>
                <p>02-2228-0885</p>
            </div>
        </div>
    </div>
</section>