    <div class="container">
        <h2 class="section-title">Lab Photos</h2>
        <div class="photos-grid">
            <div class="photo-item">
                <img src="images/lab_photos/2025_ksbmb_emm.jpg" alt="2025 KSBMB-EMM">
                <div class="photo-caption">2025 KSBMB-EMM winter conference @Hongcheon</div>
            </div>
            <div class="photo-item">
                <img src="images/lab_photos/2025_faobmb.jpg" alt="2025 FAOBMB">
                <div class="photo-caption">2025 FAOBMB @Busan</div>
            </div>
            <div class="photo-item">
                <img src="images/lab_photos/2025_busan_student.jpg" alt="2025 Busan Student">
                <div class="photo-caption">2025 FAOBMB @Busan</div>
            </div>
            <div class="photo-item">
                <img src="images/lab_photos/2025_prof.jpg" alt="2025 Professor">
                <div class="photo-caption">2025 Teacher's Day @May</div>
            </div>
            <div class="photo-item">
                <img src="images/lab_photos/2025_graduation.jpg" alt="2025 Graduation">
                <div class="photo-caption">2025 Graduation Ceremony (Summer)</div>
            </div>
            <div class="photo-item">
                <img src="images/lab_photos/2025_bioinfo.jpg" alt="2025 BIOINFO">
                <div class="photo-caption">2025 BIOINFO @Suwon</div>
            </div>
        </div>
        <p style="text-align: center; margin-top: 2rem;">
            <a href="https://www.instagram.com/hwang_lab_yonsei/" target="_blank" style="color: #87CEEB; text-decoration: none; font-weight: bold;">
                📸 More photos on Instagram @hwang_lab_yonsei
            </a>
        </p>
    </div>